
.SlotMachine{
    width:330px;
    height:400px;
    display: grid;
    margin-top:200px;
    margin-left: 400px;
    border-style: solid; 
    border-color: rgb(184, 169, 184);
    border-radius: 10%;
    border-width: 10px;
    background-color: rgb(0, 247, 255);

}
.gameRule h4{
   text-align: center;

}
.gameRule li{
    text-align: left;
    margin-left: 70px;
}
h2{
    
    font-size:medium;
    color: midnightblue;
    text-align: center;
}
#board {
    color: rgb(255, 0, 21);
    text-align: center;
}
.container{
    margin-top:10px;
    display: flex;
    justify-content:space-evenly;
    width: 250px;
    height:50px;
    margin-left: 40px;
   
}

.box{
width:60px;
height: 60px;
background-color: black;
font-size: xx-large;
color:purple;
text-align: center;
align-items: center;

}

.foot{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 250px;
    height:30px;
    margin-left: 45px;
  
}
button {
    background-color: green;
    color:white
    
    
}
#reset{
    font-size: medium;
    
}
#stop{
    background-color: red;
    font-size: medium;
    margin-left: 10px;
}
#final{
    margin-top: 20px;
    margin-left: 35%;
    width: 100px;
    height:25px;
    background-color:rgb(43, 55, 226);
    font-size: medium;
    border-style: dashed;
    border-width: 2px;
    border-color: sandybrown;
    color:white;
    text-align: center;
}
#again{
    background-color:purple;
    margin-top: 15px;
    margin-left: 150px;

}